html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

input {
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 5px;
    min-width: 240px;
}

.loginForm {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: 60px;
    transform: translate(-50%, -50%);
}

.inputLabel {
    margin-bottom: 5px;
}
