.navbar {
    display: flex;
    flex-direction: row;
    height: 55px;
    justify-content: center;
    width: 100%;
    background-color: rgb(253, 253, 253);
    border-bottom: 1px solid rgb(220, 220, 220);
    padding-left: 200px;
    padding-right: 200px;
}
.navbarBrand {
    flex: 1;
    align-items: flex-start;
    align-self: center;
    font-size: 22px;
    font-weight: bold;
    color: #e44232;
    cursor: pointer;
}
.navbarOptions {
    justify-content: flex-end;
    align-self: center;
    align-content: flex-end;
}

.navbarOption {
    align-self: center;
    color: #575757;
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
}

.navbarOption:hover {
    color: #e44232;
}
