.navbar {
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: center;
    width: 100%;
    background-color: rgb(253, 253, 253);
    border-bottom: 1px solid rgb(220, 220, 220);
    padding-left: 150px;
    padding-right: 150px;
}
.navbarBrand {
    flex: 1;
    width: fit-content;
    align-items: flex-start;
    align-self: center;
    font-size: 22px;
    font-weight: bold;
    color: #2667ff;
    cursor: pointer;
}
.navbarOptions {
    justify-content: flex-end;
    align-self: center;
    align-content: flex-end;
}

.navbarOptions > a {
    margin-left: 10px;
    margin-right: 10px;
}

.navbarOption {
    align-self: center;
    color: #575757;
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
}

.navbarOption:hover {
    color: #2f60d3;
}
